.nav-container {
  width: 100%;
  height: 100%;
}
.sidenav-container {
  padding: 20px;
  .nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    li {
      list-style-type: none;
    }
  }
}

.content-container {
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.router-container {
  width: 100%;
}
