<mat-drawer-container class="nav-container">
  <mat-drawer class="sidenav-container" mode="side" opened>
    <nav class="nav-container">
      <li>
        <app-datepicker></app-datepicker>
      </li>
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/table" routerLinkActive="active">Table</a>
      </li>
      <li>
        <a routerLink="/tree" routerLinkActive="active">Tree</a>
      </li>
      <li>
        <a routerLink="/expansion-panel" routerLinkActive="active"
          >Expansion panel</a
        >
      </li>
      <li>
        <a routerLink="/signal" routerLinkActive="active">Signal Received</a>
      </li>
    </nav>
  </mat-drawer>
  <mat-drawer-content class="content-container">
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
