<mat-drawer-container class="nav-container">
  <mat-drawer class="sidenav-container" mode="side" opened>
    <nav class="nav-container">
      @if(!loginDisplay){
      <li>
        <button mat-menu-item (click)="loginRedirect()">Login</button>
      </li>
      } @else {
      <li>
        <button mat-menu-item (click)="logout()">Logout</button>
      </li>
      }
      <li>
        <app-datepicker></app-datepicker>
      </li>
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a
          routerLink="/table"
          routerLinkActive="active"
          matBadge="{{ userService.getUsers().length }}"
          matBadgeOverlap="false"
          matBadgeSize="small"
          matBadgeColor="warn"
          >Table</a
        >
      </li>
      <li>
        <a routerLink="/tree" routerLinkActive="active">Tree</a>
      </li>
      <li>
        <a routerLink="/expansion-panel" routerLinkActive="active"
          >Expansion panel</a
        >
      </li>
      <li>
        <a routerLink="/card" routerLinkActive="active">Card</a>
      </li>
      <li>
        <a routerLink="/signal" routerLinkActive="active">Signal Received</a>
      </li>
      <li>
        <a routerLink="/chips" routerLinkActive="active">Chips</a>
      </li>
      <li>
        <a routerLink="/select" routerLinkActive="active">Select</a>
      </li>
      <li>
        <a routerLink="/stepper" routerLinkActive="active">Stepper</a>
      </li>
      @if(loginDisplay){
      <li>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li>
        <button (click)="getWeather()">Get weather</button>
      </li>
      }
    </nav>
  </mat-drawer>
  <mat-drawer-content class="content-container">
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
